.Title {
    float: left;
    padding-left: 30px;
    margin-top: 25px;
    margin-left: 100px;
}

.IconList {
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0px;
    margin-top: 25px;
}

.Account {
    float: right;
    margin-top: 25px;
    padding-left: 30px;
    padding-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.IconLarge {
    transform: scale(1.5);
}

nav {
    font-size: calc(10px + 2vmin);
}

a {
    color: black;
}
