.page-layout {
    display: flex;
    max-width: 100%;
}

.left-side-bar {
    margin-top: 20vh;
    width: 20vh;
    border-radius: 0px 79px 0px 0px;
    max-height: 86vh;
}

.left-side-bg-blue {
    background-color: #3700b3;
}

.left-side-bg-green {
    background-color: #2e7d32;
}

.right-side-bg-green {
    background-color: #a5d6a7;
}

.right-side-bg-blue {
    background-color: #8d6cd9;
}

.content-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
