.SettingsPage {
    display: flex;
    max-width: 100%;
}

.left-side-bar {
    margin-top: 20vh;
    background-color: #3700b3;
    width: 20vh;
    border-radius: 0px 79px 0px 0px;
    max-height: 86vh;
}

.settings-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.right-side-bar {
    border-radius: 79px 0px 0px 0px;
    background-color: #8d6cd9;
    height: 80vh;

    margin-top: 10px;
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#upload-photo {
    width: 180px;
    height: 50px;
    margin-top: 10vh;
    margin-left: 2vw;
}

#save_changes {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#input-field {
    width: 250px;
    margin-left: 10vw;
    margin-top: 4vh;
    text-align: left;
}

#profile-photo {
    width: 150px;
    margin-left: 10vw;
    margin-top: 4vh;
    height: 150px;
}

#color-palette {
    margin-top: 3vh;
    height: 40px;
    margin-left: 2vw;
    border-radius: 50px 50px 50px 50px;
}
