.SettingsPage {
    display: flex;
    flex-direction: row;
}

.google-btn {
    /* width: 184px;
    height: 42px; */
    width: 30vh;
    height: 6vh;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    /* margin-top: 1px;
    margin-left: 1px; */
    /* width: 40px;
    height: 40px; */
    width: 6vh;
    height: 6vh;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    /* margin-top: 11px; */
    /* width: 18px;
    height: 18px; */
    margin-top: 1vh;
    margin-left: 1vh;
    width: 4vh;
    height: 4vh;
}
.google-btn .btn-text {
    padding-top: 1vh;
    margin-left: 7vh;
    color: #fff;
    /* font-size: 14px; */
    font-size: 2.5vh;
    letter-spacing: 0.2px;
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
