.calendar-buttons {
    display: flex;
    flex-direction: column;
    margin: 20vh 10px 0px 10px;
}

.calendar-component {
    margin: 10px 10px 10px 0px;
    height: 80vh;
    max-width: 100vw;
    overflow: hidden;
}

.list-view {
    width: 100%;
    margin-left: 10px;
    margin-right: 10vw;
}

.list-view-components {
    width: 35vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
}

.isComplete {
    text-decoration: line-through;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 11px;
}
