.market-content-box {
    display: inline-block;
    /* border: 1px solid; */
    margin: 1px auto;
}

.theme-content-box {
    /* border: 1px solid; */
    display: inline-block;
}

#color-palette {
    margin-top: 3vh;
    height: 40px;
    margin: 1px auto;
}

.centered {
    font-size: larger;
    position: absolute;
    top: 0%;
    left: 60%;
    transform: translate(-50%, 50%);
    /* height: 5em; */
}

.available-theme-container {
    position: relative;
    box-shadow: black;
}
