.modal-p {
    background-image: url("./images/modal-background-purple.jpg");
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-g {
    background-image: url("./images/modal-background-green.jpg");
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.makeStyles-paper-507 {
    padding: 0px !important;
}

.makeStyles-paper-2 {
    padding: 0px !important;
}

.forum-content {
    text-align: left;
    margin-left: 100px;
    height: 80vh;
    min-width: 100px;
    width: 300px;
}

.name-field {
    font-size: 40px;
}

.drop-down {
    padding-top: 10px;
    width: 200px;
}

.text-area {
    margin-top: 0px !important;
    width: 350px;
}

.small-text-area {
    width: 223px;
}

.MuiSelect-selectMenu {
    width: 300px;
}

#add-button {
    text-align: right;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.spacing {
    margin-top: 0px !important;
}

.group-spacing {
    margin-top: 0px !important;
}
