# The following environment variables will need to be set before you can start development, you will need to retrieve them from the repo maintainer
# Remember to never push your .env file to github
DEVELOPMENT_DB_CONN=
ACCESS_TOKEN_SECRET=
GOOGLE_API_SECRET=
GOOGLE_API_CLIENT=
